# Browserbase API (https://browserbase.com)
BROWSERBASE_API_KEY=
BROWSERBASE_PROJECT_ID=

# Gemini API (https://aistudio.google.com/app/apikey)
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash

# Algolia API (Optional overrides)
YC_ALGOLIA_APP_ID=
YC_ALGOLIA_API_KEY=
WAAS_ALGOLIA_APP_ID=
WAAS_ALGOLIA_API_KEY=
